<div class="register" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content fxLayout="column">
                <mat-form-field fxFlex>
                    <input matInput placeholder="First name" data-testid="firstName" formControlName="firstName">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Last name" data-testid="lastName" formControlName="lastName">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Email" data-testid="email" formControlName="email">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Password" data-testid="password" formControlName="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button color="primary" type="submit" data-testid="submit" [disabled]="form.invalid">Submit</button>
            @if(onError) {
              <span class="error ml2" data-testid="error">An error occurred</span>
            }
        </form>
    </mat-card>
</div>
